body {
	width: 90%;
	margin: auto;
}

#book-table {
    border-collapse: collapse;
    width: 100%;
}

#book-table th,tr,td {
    table-layout: fixed;
    border: 1px solid #000;
    padding: 5px 10px;
}

.cell1 {
	height: 20px;
}